DesafioNginx/mysql/#ib_16384_0.dblwr
DesafioNginx/mysql/#ib_16384_1.dblwr
DesafioNginx/mysql/434cbed65e5a.err
DesafioNginx/mysql/auto.cnf
DesafioNginx/mysql/binlog.000001
DesafioNginx/mysql/binlog.000002
DesafioNginx/mysql/binlog.index
DesafioNginx/mysql/ca-key.pem
DesafioNginx/mysql/ca.pem
DesafioNginx/mysql/client-cert.pem
DesafioNginx/mysql/client-key.pem
DesafioNginx/mysql/ib_buffer_pool
DesafioNginx/mysql/ibdata1
DesafioNginx/mysql/mysql_upgrade_history
DesafioNginx/mysql/mysql.ibd
DesafioNginx/mysql/mysql.sock
DesafioNginx/mysql/private_key.pem
DesafioNginx/mysql/public_key.pem
DesafioNginx/mysql/server-cert.pem
DesafioNginx/mysql/server-key.pem
DesafioNginx/mysql/undo_001
DesafioNginx/mysql/undo_002
